@font-face {
  font-family: "iconfont"; /* Project id 3996761 */
  src: url('iconfont.woff2?t=1681659100625') format('woff2'),
       url('iconfont.woff?t=1681659100625') format('woff'),
       url('iconfont.ttf?t=1681659100625') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiangshangshouqi-yuankuang:before {
  content: "\e8f3";
}

.icon-arrowcircleleft2:before {
  content: "\e609";
}

.icon-arrowcircleright2:before {
  content: "\e60b";
}

.icon-arrowcircleright:before {
  content: "\e60c";
}

.icon-arrowcircleleft:before {
  content: "\e60d";
}

.icon-gonggao:before {
  content: "\e60a";
}

.icon-icon:before {
  content: "\e66c";
}

.icon-xuexi:before {
  content: "\e635";
}

.icon-shijian:before {
  content: "\e62a";
}

.icon-youxiyule:before {
  content: "\e630";
}

.icon-ai235:before {
  content: "\e6df";
}

.icon-github-fill:before {
  content: "\e885";
}

.icon-bilibili-line:before {
  content: "\e75d";
}

.icon-youxiang:before {
  content: "\e73b";
}

.icon-wp-sj-2:before {
  content: "\e720";
}

.icon-yinle:before {
  content: "\e618";
}

.icon-dianying:before {
  content: "\e8ae";
}

.icon-sousuo:before {
  content: "\e752";
}

.icon-biaoqian:before {
  content: "\e63d";
}

.icon-icon-:before {
  content: "\e620";
}

.icon-fenlei:before {
  content: "\e640";
}

.icon-guanyu_o:before {
  content: "\eb77";
}

.icon-shoucang:before {
  content: "\e8b9";
}

.icon-shouye:before {
  content: "\e8c6";
}

.icon-a-Frame174:before {
  content: "\e601";
}

